[submodule "todo-list"]
	path = todo-list
	url = https://github.com/Kerwan-Garcon/todo-list
[submodule "starter/todo-list"]
	path = starter/todo-list
	url = https://github.com/Kerwan-Garcon/todo-list
